.project-title {
	font-size:120%;
	margin-bottom:-0.6em;
}

.project-description {
	background-color:rgb(118,113,113);
}

.project-requirements {
	font-size:120%;
	background-color:rgb(118,113,113);
}

.project-icon{
	width:3%;
	height:3%;
	margin-left:0.3em;
	margin-right:0.3em;
}
.separation-line{
  display: block;
  margin-top: -0.7em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-style: inset;
  border-width: 1px;
  border-color:rgb(70,116,193);
} 
