.project-clickable-title {
	font-size:120%;
	margin-bottom:-0.6em;
	color:black;
}

.project-icon{
	margin-left:0.3em;
	margin-right:0.3em;
}
.separation-line{
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-style: inset;
  border-width: 0.5px;
  border-color:rgb(70,116,193);
} 

.project-modal-title{
	font-size:150%;
	margin-bottom:0.6em;

}