<div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <div v-if="section=='Internship'">
    <b-container class="p-4">
      <b-row>
        <b-col cols="3">
          <b-img thumbnail fluid v-bind:src="internship_position.position_icon_link" />
        </b-col>
        <b-col cols="9">
          <b-container>
            <b-row>
              <b-col class='internship-position-title'>
                <div>
                  <span class='position-name'>Software Engineer</span>
                  <span class='position-company'>Google</span>
                </div>
              </b-col>
            </b-row>
            <b-row class='internship-period-row'>
              <p class='internship-period-title'> Internship Period: </p>
              <p class='internship-period'> {{internship_position.position_start}} ~ {{internship_position.position_end}} </p>
            </b-row>
            <b-row class='internship-description-row'>
              <span class='job-description-title'> Job Description: </span> <span class='job-description'>{{internship_position.position_description}}</span>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <div v-else-if="section=='Research'">
    <b-container class='p-4'>
      <b-row>
        <b-col cols="3">
          <b-img thumbnail fluid v-bind:src="research_prof.prof_photo_link" />
        </b-col>
        <b-col cols="9">
          <b-container>
            <b-row class='prof-name'> {{research_prof.prof_name}}</b-row>
            <b-row class='prof-title'>
              <p>{{research_prof.prof_title}}</p>
            </b-row>
            <b-row class='prof-department'>
              <p>{{research_prof.prof_department}}</p>
            </b-row>
            <b-row>
              <b-col cols="3"><i class="fa fa-map-marker-alt"></i> {{research_prof.prof_office}}</b-col>
              <b-col><i class="fa fa-phone"></i> {{research_prof.prof_tel}}</b-col>
            </b-row>
            <b-row>
              <p class='research-focus-title'>Research Focus:</p>
              <p class='research-focus-description'>{{research_prof.prof_research_focus}}</p>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <div v-else-if="section=='Teaching'">
    <b-container class='p-4'>
      <b-row>
        <b-col cols="3">
          <p class='module-icon'> {{module.module_code}} </p>
        </b-col>
        <b-col cols="9">
          <b-container>
            <b-row class='module-code'> {{module.module_code}}</b-row>
            <b-row class='module-name'>
              <p>{{module.module_name}}</p>
            </b-row>
            <b-row>
              <p class='module-course-mc-sem'>{{module.module_course}} · {{module.module_MC}} · {{module.module_sem}}</p>
            </b-row>
            <b-row>
              <p class='module-description-title'>Module Description:</p>
              <p class='module-description'>{{module.module_description}}</p>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
