.company-thumbnail {
  border-radius: 1rem;
  float: left;
  //width: 20%;
  //max-width: 100%;
  height: 200px;
  margin: 0rem 3rem;
}



.company-frame{
	display: inline-flex;
	box-sizing: border-box;
	overflow-x: scroll;
	padding: 2rem 1rem;
	background-color: #e9ecef;
}

.company-text{
	float: left;
	width: 70%;
	max-width: 80%;
	height: 200px;
}

.company-title, .company-description {
	text-align: left;
	margin: 1rem 2rem 0rem 2rem;
}


