<b-container class="bv-example-row">
  <div class="background-header">
    Total Number of Past Interns: {{ totalNum }}
  </div>
  <b-row>
    <b-col><PieChartGender></PieChartGender></b-col>
    <b-col><PieChartFaculty></PieChartFaculty></b-col>
    <b-col><PieChartYear></PieChartYear></b-col>
  </b-row>
  <b-row>
    <b-col><HistogramCAP></HistogramCAP></b-col>
    <b-col><PieChartMajor></PieChartMajor></b-col>
  </b-row>
  <b-row>
    <b-col><BarChartRace></BarChartRace></b-col>
    <b-col><BarChartNationality></BarChartNationality></b-col>
  </b-row>
  <b-row>
    <b-col><WordCloudModule></WordCloudModule></b-col>
  </b-row>
</b-container>
