<b-container class="bv-example-row">
  <div class="chart-header">
    Total number of past interns in this industry: {{ totalNum }}
  </div>
  <b-row>
    <b-col><PieChartGender></PieChartGender></b-col>
    <b-col><PieChartFaculty></PieChartFaculty></b-col>
    <b-col><PieChartYear></PieChartYear></b-col>
  </b-row>
  <b-row>
    <b-col><LineChartNum></LineChartNum></b-col>
    <b-col><BarChartNa></BarChartNa></b-col>
  </b-row>
  <b-row>
    <b-col><HistogramSalary></HistogramSalary></b-col>
    <b-col><LineChartSalary></LineChartSalary></b-col>
  </b-row>
</b-container>
