* {
  box-sizing: border-box;
}

// .charts-container:after{
// 	display: table;
// 	clear: both;
// 	content: '';
// }

// .charts-item{
// 	width: 50%;
// 	float: left;
// 	margin: 1rem 2rem;
// 	padding: 2rem 5rem;
// 	text-align: center;
// }

.col{
	margin: 2rem;
	padding: 2rem;
}
 .title{
	text-align: left;
	margin-left: 2rem;
	margin-top: 1rem;
}