.header-frame{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: rgba(245,237,227,0.8);
	box-sizing: border-box;
}


.header-logo{
	float: left;
	padding: 0.5rem 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.header-text{
	float: right;
	padding: 0.5rem 1rem;
}

.inline-image{
	display: inline;
}

#text1{
	padding-left: 1rem;
}

#text2{
	color:rgba(24,73,144,1);
}

#text3{
	color:rgba(252,99,14,1);
}

