.recommended-intro {
  padding: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  // background-color: #003D7C;
  // color: #fff;
}

.recommended-frame {
  display: inline-flex;
  overflow-x: scroll;
  padding: 2rem 1rem;
  background-color: #e9ecef;
}

.recommended-frame > div,
.item {
  margin-left: 1rem;
  margin-right: 1rem;
  scroll-snap-align: center;
  width: 200px;
  flex-direction: column;
  border-radius: 8px;
}

.recommended-title, .recommended-text {
  text-align: center;
  margin-bottom: 0rem;
}

.recommended-title {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recommended-thumbnail {
  border-radius: 1rem;
  max-width: 100%;
  height: 200px;
}
