<b-card :sub-title="sub_title">
  {{ filter_a_values }}
  <v-autocomplete
    v-model="input"
    :items="data"
    item-text="name"
    item-value="name"
  >
    <template v-slot:item="data">
      <template>
        <v-list-tile-avatar v-if="data.item.image_url">
          <img :src="data.item.image_url">
        </v-list-tile-avatar>
        <v-list-tile-avatar v-else :color="colors[Math.floor(Math.random() * colors.length)]">
          <span class="white--text headline">{{ data.item.name[0] }}</span>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
        </v-list-tile-content>
      </template>
    </template>
  </v-autocomplete>
</b-card>
